.login-page {

  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #43cea2, #185a9d);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: white;
  width: 100%;
  max-width: 380px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.login-card p {
  text-align: center;
  color: #666;
  margin-bottom: 25px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.login-card button:hover {
  background: #1e40af;
}

.login-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
